body {
  font-family: "Courier New", monospace;
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #0a0a0a; /* Dark gray header background */
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none; /* Hide menu toggle button by default */
  background-color: transparent;
  border: none;
  color: #ffffff; /* White text */
  font-size: 18px;
  cursor: pointer;
}

.nav-links {
